<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="tgss-card-front">
        <ng-content select="[tgssCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="tgss-card-back">
        <ng-content select="[tgssCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="tgss-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[tgssCardExpansion]"></ng-content>
    </div>

</ng-container>
