<div class="flex items-center justify-between mb-4 px-7 pt-4">
    <h2 class="font-bold text-xl">Mantra RD Service</h2>
    <mat-icon class="cursor-pointer hover:text-black" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon>
 </div>
 <div class="p-7 bg-model-bg border-t-2 border-boder-gray" >
    <div class="text-center">
       <img class="w-1/2 mx-auto" (click)="openDialog()" src="assets/images/scanner.png" alt="">
       <p class="font-normal text-xl mt-1 text-themeclr" >Place any finger on scanner</p>
    </div>
 </div>