
<div class="flex items-center justify-between mb-4 px-7 pt-5">
   <h2 class="font-bold text-xl">Reset PIN</h2>
   <mat-icon class="cursor-pointer" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon>
</div>


<div class="p-7 bg-popup-bg bt-2">
 <form>
   <div class="mb-2">
     <mat-label class="font-medium text-lg mb-0 first-letter text-label-clr">New PIN <span class="text-red-600">*</span> </mat-label>
  </div>
   <ng-otp-input class="input_otp" [config]="{length:4}"></ng-otp-input>

   <div class="mb-2 mt-4">
     <mat-label class="font-medium text-lg mb-0 first-letter text-label-clr">Confirm PIN <span class="text-red-600">*</span> </mat-label>
  </div>
   <ng-otp-input class="input_otp" [config]="{length:4}"></ng-otp-input>


</form>
     <div class="mt-4">
       <button routerLink="/payout/payout-beneficiary-manage" (click)="closeDialog()" class="w-full h-10 rounded-md text-white font-bold text-xl
        bg-themeclr hover:bg-themeclr_hover">Submit</button>
     </div>
</div>