<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b bg-default">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0" 
            >
            <!-- <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar> -->
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">Roles & Permissions</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4" *ngIf="rolesPermissionList != ''">
            
                <button routerLink="/settings/roles-permissions"
                 class="ml-4  hover:bg-indigo-700 hover:text-white hover:border-indigo-700 transition-all border-2 border-solid
                 border-w border-primary-500 text-primary-500" mat-flat-button >
                  
                    <span class="ml-2 mr-1">List</span>
                    <mat-icon svgIcon="feather:list"></mat-icon>
                </button>
            
        </div>
    </div>
    <div class="overflow-y-scroll">
    <mat-card class="w-11/12 mx-auto my-6 " *ngIf="rolesPermissionList != ''">
        <div class="p-6" *ngFor="let list of rolesPermissionList?.list_view;let i = index">
            <div class="flex pb-3">
                <h2 class="font-bold text-3xl w-5/12 ">{{list?.name}}</h2>
                <mat-icon svgIcon="heroicons_outline:key"></mat-icon>
            </div>
            <div class="flex" *ngFor="let menu of list?.action;let i = index">
                <p class="w-5/12">{{menu?.menu_name}}</p>
                <mat-slide-toggle (change)="valueChange($event.checked, menu.acl_menu_id + ',' + list.acl_menu_module_id)" [checked]="permList.has(menu.acl_menu_id + ',' + list.acl_menu_module_id )" ></mat-slide-toggle>
            </div>
        </div>
        <mat-divider></mat-divider>

        <!-- modules permission -->
        <div class="mt-2 pb-4">
            <h1 class="m-4 font-bold text-3xl">Modules Permissions</h1>
            <div class="overflow-scroll">
                <table class="w-full table_data_nowrap">
                    <thead>
                        <tr class="border-b-2">
                            <th class="p-3 bg-gray-100 text-left">Modules</th>
                            <th class="p-3 bg-gray-100 text-left">List</th>
                            <th class="p-3 bg-gray-100 text-left">Create</th>
                            <th class="p-3 bg-gray-100 text-left">Update</th>
                            <th class="p-3 bg-gray-100 text-left">Delete</th>
                            <th class="p-3 bg-gray-100 text-left">View</th>
                            <th class="p-3 bg-gray-100 text-left">More</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b-2" *ngFor="let list of actualList;let i = index">
                            <td class="p-3 text-left">{{list?.name}}</td>
                            <td *ngFor="let menu of list?.action;let k = index">
                                <span
                                *ngIf="checkDefaultMenu(menu?.menu_name)">
                                <mat-checkbox
                                (change)="valueChange($event.checked, menu.acl_menu_id + ',' + list.acl_menu_module_id)"
                                [checked]="permList.has(menu.acl_menu_id + ',' + list.acl_menu_module_id )"
                                class="example-margin"></mat-checkbox>
                                </span>
                                <span
                                *ngIf="!checkDefaultMenu(menu?.menu_name)">
                                    -
                                </span>
                            </td>
                            <td class="" *ngIf="list?.others?.length > 0">
                                <span>
                                    <h4 class="more-options-permisons" mat-icon-button [matMenuTriggerFor]="menu">
                                        {{list?.others?.length}}+More
                                    </h4>
                                    <mat-menu #menu="matMenu" xPosition="after">
                                        <div >
                                            <p class="example-section more-list"
                                            *ngFor="let other of list?.others;let j = index">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="valueChange($event.checked, other.acl_menu_id + ',' + list.acl_menu_module_id)"
                                            [checked]="permList.has(other.acl_menu_id + ',' + list.acl_menu_module_id )"
                                            class="example-margin">{{other?.menu_name}}</mat-checkbox>
                                            </p>
                                        </div>
                                    </mat-menu>
                                </span>
                            </td>
                            <td *ngIf="list?.others.length == 0">
                                -
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card>
    <div class="m-6 text-right pr-7" *ngIf="rolesPermissionList != ''">
        <button class="ml-4 hover:bg-indigo-700 hover:text-white hover:border-indigo-700 transition-all border-2 border-solid
        border-w border-primary-500 text-primary-500" mat-flat-button (click)="clearPermission()">
           <mat-icon svgIcon="mat_solid:loop"></mat-icon>
           <span class="ml-1">Clear
           </span>
        </button>
        <button class="ml-4 hover:bg-indigo-700  transition-all flex-row-reverse" mat-flat-button
        [color]="'primary'"  (click)="update()">
        <mat-icon svgIcon="heroicons_outline:arrow-narrow-right"></mat-icon>
        <span class="mr-1">Submit
        </span>
     </button>
    </div>
</div>
</div>