<div class="px-7 pt-6 text-right">
    <mat-icon class="cursor-pointer" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon>
  </div>
  <div class="p-7 pt-0">
  
    <div class="">
      <img class=" mx-auto" src="assets/images/success_img.png" alt="upi">
    </div>
    
  
    <div class="mt-9 mb-4 text-center">
<h1 class="success_registration text-xl font-medium text-center" >Thanks for the successful registration, <span>your profile is under review by Distributor</span></h1>
    </div>
  </div>
