<div >
    <div class=" px-7 pt-5 flex items-center justify-between text-end">
      <h4 class="font-bold text-xl" style="color:  #131313; opacity: 85%;">Comments </h4>
       <!-- <h2 class="font-bold text-xl">Mantra RD Service</h2> -->
       <mat-icon  class="cursor-pointer flex-2 text-end" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon>
    </div>
    <div class="p-5">
        <div class="py-6 px-5 bg-primary-50">
            <h1 class="text-black opacity-70  text-base font-medium">	
               Debit DMT IMPS CustomerFee9003029597_Shenba Debit DMT IMPS TDS9003029597_Shenba </h1>

        </div>
        
    
    </div>

    
 </div>

