<div class="flex items-center justify-between px-7 pt-7 pb-6 popup-head-bg">
  <h2 class="font-bold text-xl text-text-themeclr">Sadhananda</h2>
  <mat-icon class="cursor-pointer" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon>
</div>
<div class="p-7 pt-0 br-t-2">

  <div class="">
    <img class="w-1/2 my-5 mx-auto" src="assets/images/upi.png" alt="upi">
  </div>
  <div class="">
    <img class="w-2/5  my-5 mx-auto" src="assets/images/qr-code.png" alt="qr">
  </div>
  <div class="">
    <img class="w-1/3  my-5 mx-auto pl-4" src="assets/images/vyabari_logo.png" alt="logo">
  </div>

  <div class="mt-2 text-center">
    <button class="w-3/5 h-10 rounded-md text-white font-bold text-xl
         bg-themeclr hover:bg-themeclr_hover">Download</button>
  </div>
</div>