img{
    width: 107px;
    height: 107px;
}
.profile-sec{
    background: rgba(251, 251, 251, 1);
    margin: 32px 0px 6px;
    padding: 16px;
    border-radius: 10px;
}
.profile-details{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
}
table{
    line-height: 36px;
}
td{
    font-size: 16px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    vertical-align: top;
}
table tr:last-child td{
    border: none;
}

table tr td{
    color: rgba(19, 19, 19, 0.95);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .profile-details{
        width: 230px !important ;
    }
    table tr td{
      font-size: 14px !important;
    }
}
@media screen and (max-width: 420px) {
    .profile-details{
        width: 200px !important;
    }
    table tr td{
      font-size: 12px !important;
    }
}