<div class="flex items-center justify-between px-7 pt-7 pb-6" style="background-color: #F8F9FD;">
  <h2 class="font-bold text-2xl" style="color: #363636;">Support Informations</h2>
  <mat-icon class="cursor-pointer" (click)="closeDialog()" svgIcon="mat_outline:close"></mat-icon> 
</div>
<div class="p-7 pt-0 max-sm:max-h-120">
  <div class="flex flex-wrap item-start profile-sec">
    <div class="mr-5 max-lg:mb-3">
      <h2 class="text-text-themeclr first-letter:text-lg font-medium mb-2">Company Informations</h2>
      <div class="profile-details">
        <table class="w-full">
          <tr>
            <td>Accupayd Tech Pvt Ltd</td>
          </tr>
          <tr>
            <td>Vyabari@accupaydtech.com</td>
          </tr>
          <tr>
            <td>8447928988</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="mr-5 max-lg:mb-3" >
      <h2 class="text-text-themeclr first-letter:text-lg font-medium mb-2">Distributor Information</h2>
      <div class="profile-details">
        <table class="w-full">
          <tr>
            <td>Distributor</td>
          </tr>
          <tr>
            <td>0123456789</td>
          </tr>
          <tr>
            <td>BCD</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <h2 class="text-text-themeclr first-letter:text-lg font-medium mb-2">Staff Information</h2>
      <div class="profile-details">
        <table class="w-full">
          <tr>
            <td>Sales</td>
          </tr>
          <tr>
            <td>Relationshipmanager</td>
          </tr>
          <tr>
            <td>1234567899</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>