<mat-form-field appearance="outline" class="h-40">
    <mat-label>{{label}}</mat-label>
    <input [formControl]="form_control" matInput  [min]="checkNull(min_date) ? min_date :''"
        [max]="checkNull(max_date) ? max_date :''" (click)="picker.open()" readonly="true" [placeholder]="placeholder"
        [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <!-- Required Error -->
    <span matSuffix *ngIf="form_control.hasError('required') && form_control.touched"
        [matTooltip]="'Please provide'+label+'!'" [matTooltipDisabled]="!form_control.invalid">
        <mat-icon class="mr-3" color="warn">info</mat-icon>
    </span>

    <!-- From Date -->


    <!-- To date -->

</mat-form-field>