<div class=" sm:inset-0 flex flex-col flex-auto min-w-0 mb-12">
   <!-- Title -->
   <div class="page_header">Change Password</div>
   <form class="bg-white p-9 flex mt-5 items-start rounded-lg flex-wrap"
      [formGroup]="createForm">
      <div class=" change-pswd">

         <!--Old Password field -->
         <div class="mb-1">
            <mat-label class="font-medium text-lg">Old Password <span class="text-red-500">*</span>
            </mat-label>
         </div>
         <mat-form-field class="w-3/4 max-sm:w-full mb-2">
            <input id="password" matInput  [placeholder]="'Old Password'" type="password" formControlName="oldPassword"
               #oldpasswordField>
            <button mat-icon-button type="button"
               (click)="oldpasswordField.type === 'password' ? oldpasswordField.type = 'text' : oldpasswordField.type = 'password'"
               matSuffix>
               <mat-icon class="icon-size-5" *ngIf="oldpasswordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
               <mat-icon class="icon-size-5" *ngIf="oldpasswordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="createForm.get('oldPassword').hasError('required')">
               Please provide the old password
            </mat-error>

         </mat-form-field>
         <!--New Password field -->
         <div class="mb-1">
            <mat-label class="font-medium text-lg">New Password <span class="text-red-500">*</span>
            </mat-label>
         </div>
         <mat-form-field class="w-3/4 max-sm:w-full mb-2">
            <input id="password" matInput  [placeholder]="'New Password'" type="password" formControlName="newPassword"
               #passwordField>
            <button mat-icon-button type="button"
               (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
               matSuffix>
               <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
               <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="createForm.get('newPassword').hasError('required')">
               Please provide the new password
            </mat-error>
            <mat-error *ngIf="createForm.get('newPassword').hasError('pattern')">
               {{getPattern}}
            </mat-error>
         </mat-form-field>
         <!-- Password confirm field -->
         <div class="mb-1">
            <mat-label class="font-medium text-lg">Confirm Password <span class="text-red-500">*</span>
            </mat-label>
         </div>
         <mat-form-field class="w-3/4 max-sm:w-full mb-2">
            <input id="password-confirm" matInput  [placeholder]="'Confirm Password'" type="password"
               formControlName="confirmPassword" #passwordConfirmField>
            <button mat-icon-button type="button"
               (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
               matSuffix>
               <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
               <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="createForm.get('confirmPassword').hasError('required')">
               Please provide the confirm password
            </mat-error>
            <mat-error *ngIf="createForm.get('confirmPassword').hasError('mustMatch')">
               New password and Confirm password doesn't match!
            </mat-error>
         </mat-form-field>
         <div class="mt-2">
            <button type="button" (click)="changePassword()"
               class="sm:w-3/4 xs:w-full h-10 rounded-md text-white font-bold text-xl hover:bg-themeclr_hover bg-themeclr">
               Submit
            </button>
         </div>
      </div>
      <div class="paswd-content max-sm:mt-8 max-sm:w-full">
         <div class="content-bg p-7 rounded-lg">
            <ul class="ml-5">
               <li class="list-disc pb-3 text-text-themeclr">New password should not be the same as your last 4
                  passwords</li>
               <li class="list-disc pb-3 text-text-themeclr">Password must not exceed 21 characters</li>
               <li class="list-disc pb-3 text-text-themeclr">Password should not contain any space or any special
                  characters (e.g. !@# $ % &*( ) = . /)</li>
               <li class="list-disc pb-3 text-text-themeclr">Password must contain at least 7 characters, with minimum
                  if 1 uppercase character, 1 lowercase character and 1 number.</li>
            </ul>
         </div>
      </div>
   </form>
</div>